<html>

<head>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" %>
</head>
<body>
<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <header class="masthead clearfix">
        <div class="inner">
          <h3 class="masthead-brand">Smart Notes</h3>
          <nav class="nav nav-masthead">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">About</a>
            <a class="nav-link" href="#">Contact</a>
            <button><img src = "<%= asset_path "Russia.png"%>"></button>
            <button><img src = "<%= asset_path "England.png"%>"></button>
          </nav>

        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Добро пожаловать!</h1>
        <p class="lead">Данный ресурс предлагает Вам возможность добавления, редактирования, удаления своих заметок!</p>
        <p class="lead">
          <a href="<%=new_article_path %>" class="btn btn-lg btn-secondary">Создать новую заметку</a>
        </p>
      </main>

      <footer class="mastfoot">
        <div class="inner">
          <p><a href="#">Copyright &#169; 2017 made by KirillMakarikhin</a>.</p>
        </div>
      </footer>

    </div>

  </div>

</div>
</body>
</html>
